{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produto</title>
    {% bootstrap_css %}
</head>

<body>
    <div class="container">
        <h1>Cadastrar Produto</h1>
        {% bootstrap_messages %}

        <form action="{% url 'produto' %}" method="POST" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}
        </form>
        <div class="row">
            <div class="col">
                <a href="{% url 'index' %}">
                    <button class="btn btn-secondary">Produtos</button>
                </a>
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>